extends layout/layout

block stylesheets
    link(rel='stylesheet' href='../../dist/css/layouts/account/account.css')

block content
    main.container
        .user__view-menu
            .user__menu-wrapper
                ul.menu
                    a(href="me")
                        li.menu__item
                            svg#Layer_1(enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg')
                                path(d='m272.066 512h-32.133c-25.989 0-47.134-21.144-47.134-47.133v-10.871c-11.049-3.53-21.784-7.986-32.097-13.323l-7.704 7.704c-18.659 18.682-48.548 18.134-66.665-.007l-22.711-22.71c-18.149-18.129-18.671-48.008.006-66.665l7.698-7.698c-5.337-10.313-9.792-21.046-13.323-32.097h-10.87c-25.988 0-47.133-21.144-47.133-47.133v-32.134c0-25.989 21.145-47.133 47.134-47.133h10.87c3.531-11.05 7.986-21.784 13.323-32.097l-7.704-7.703c-18.666-18.646-18.151-48.528.006-66.665l22.713-22.712c18.159-18.184 48.041-18.638 66.664.006l7.697 7.697c10.313-5.336 21.048-9.792 32.097-13.323v-10.87c0-25.989 21.144-47.133 47.134-47.133h32.133c25.989 0 47.133 21.144 47.133 47.133v10.871c11.049 3.53 21.784 7.986 32.097 13.323l7.704-7.704c18.659-18.682 48.548-18.134 66.665.007l22.711 22.71c18.149 18.129 18.671 48.008-.006 66.665l-7.698 7.698c5.337 10.313 9.792 21.046 13.323 32.097h10.87c25.989 0 47.134 21.144 47.134 47.133v32.134c0 25.989-21.145 47.133-47.134 47.133h-10.87c-3.531 11.05-7.986 21.784-13.323 32.097l7.704 7.704c18.666 18.646 18.151 48.528-.006 66.665l-22.713 22.712c-18.159 18.184-48.041 18.638-66.664-.006l-7.697-7.697c-10.313 5.336-21.048 9.792-32.097 13.323v10.871c0 25.987-21.144 47.131-47.134 47.131zm-106.349-102.83c14.327 8.473 29.747 14.874 45.831 19.025 6.624 1.709 11.252 7.683 11.252 14.524v22.148c0 9.447 7.687 17.133 17.134 17.133h32.133c9.447 0 17.134-7.686 17.134-17.133v-22.148c0-6.841 4.628-12.815 11.252-14.524 16.084-4.151 31.504-10.552 45.831-19.025 5.895-3.486 13.4-2.538 18.243 2.305l15.688 15.689c6.764 6.772 17.626 6.615 24.224.007l22.727-22.726c6.582-6.574 6.802-17.438.006-24.225l-15.695-15.695c-4.842-4.842-5.79-12.348-2.305-18.242 8.473-14.326 14.873-29.746 19.024-45.831 1.71-6.624 7.684-11.251 14.524-11.251h22.147c9.447 0 17.134-7.686 17.134-17.133v-32.134c0-9.447-7.687-17.133-17.134-17.133h-22.147c-6.841 0-12.814-4.628-14.524-11.251-4.151-16.085-10.552-31.505-19.024-45.831-3.485-5.894-2.537-13.4 2.305-18.242l15.689-15.689c6.782-6.774 6.605-17.634.006-24.225l-22.725-22.725c-6.587-6.596-17.451-6.789-24.225-.006l-15.694 15.695c-4.842 4.843-12.35 5.791-18.243 2.305-14.327-8.473-29.747-14.874-45.831-19.025-6.624-1.709-11.252-7.683-11.252-14.524v-22.15c0-9.447-7.687-17.133-17.134-17.133h-32.133c-9.447 0-17.134 7.686-17.134 17.133v22.148c0 6.841-4.628 12.815-11.252 14.524-16.084 4.151-31.504 10.552-45.831 19.025-5.896 3.485-13.401 2.537-18.243-2.305l-15.688-15.689c-6.764-6.772-17.627-6.615-24.224-.007l-22.727 22.726c-6.582 6.574-6.802 17.437-.006 24.225l15.695 15.695c4.842 4.842 5.79 12.348 2.305 18.242-8.473 14.326-14.873 29.746-19.024 45.831-1.71 6.624-7.684 11.251-14.524 11.251h-22.148c-9.447.001-17.134 7.687-17.134 17.134v32.134c0 9.447 7.687 17.133 17.134 17.133h22.147c6.841 0 12.814 4.628 14.524 11.251 4.151 16.085 10.552 31.505 19.024 45.831 3.485 5.894 2.537 13.4-2.305 18.242l-15.689 15.689c-6.782 6.774-6.605 17.634-.006 24.225l22.725 22.725c6.587 6.596 17.451 6.789 24.225.006l15.694-15.695c3.568-3.567 10.991-6.594 18.244-2.304z')
                                path(d='m256 367.4c-61.427 0-111.4-49.974-111.4-111.4s49.973-111.4 111.4-111.4 111.4 49.974 111.4 111.4-49.973 111.4-111.4 111.4zm0-192.8c-44.885 0-81.4 36.516-81.4 81.4s36.516 81.4 81.4 81.4 81.4-36.516 81.4-81.4-36.515-81.4-81.4-81.4z')
                            | Settings
                    a(href="my-tours")
                        li.menu__item
                            svg#Layer_1(enable-background='new 0 0 503.889 503.889' height='512' viewBox='0 0 503.889 503.889' width='512' xmlns='http://www.w3.org/2000/svg')
                                path(d='m453.727 114.266h-108.576v-43.751c0-20.832-16.948-37.779-37.78-37.779h-110.854c-20.832 0-37.78 16.947-37.78 37.779v43.751h-108.575c-27.66 0-50.162 22.503-50.162 50.162v256.563c0 27.659 22.502 50.161 50.162 50.161h403.565c27.659 0 50.162-22.502 50.162-50.161v-256.563c0-27.659-22.503-50.162-50.162-50.162zm-262.99-43.751c0-3.187 2.593-5.779 5.78-5.779h110.854c3.187 0 5.78 2.593 5.78 5.779v43.751h-122.414zm-158.737 93.913c0-10.015 8.147-18.162 18.162-18.162h403.565c10.014 0 18.162 8.147 18.162 18.162v23.681c0 22.212-14.894 42.061-36.22 48.27l-167.345 48.723c-10.715 3.121-22.043 3.121-32.76 0l-167.344-48.724c-21.326-6.209-36.22-26.057-36.22-48.269zm421.727 274.725h-403.565c-10.014 0-18.162-8.147-18.162-18.161v-167.734c8.063 6.232 17.254 10.927 27.274 13.845 184.859 53.822 175.358 52.341 192.67 52.341 17.541 0 7.595 1.544 192.67-52.341 10.021-2.918 19.212-7.613 27.274-13.845v167.733c.001 10.014-8.147 18.162-18.161 18.162z')
                            | Bookings
                    a(href="my-reviews")
                        li.menu__item
                            svg(height='511pt' viewBox='0 -10 511.98685 511' width='511pt' xmlns='http://www.w3.org/2000/svg')
                                path(d='m114.59375 491.140625c-5.609375 0-11.179688-1.75-15.933594-5.1875-8.855468-6.417969-12.992187-17.449219-10.582031-28.09375l32.9375-145.089844-111.703125-97.960937c-8.210938-7.167969-11.347656-18.519532-7.976562-28.90625 3.371093-10.367188 12.542968-17.707032 23.402343-18.710938l147.796875-13.417968 58.433594-136.746094c4.308594-10.046875 14.121094-16.535156 25.023438-16.535156 10.902343 0 20.714843 6.488281 25.023437 16.511718l58.433594 136.769532 147.773437 13.417968c10.882813.980469 20.054688 8.34375 23.425782 18.710938 3.371093 10.367187.253906 21.738281-7.957032 28.90625l-111.703125 97.941406 32.9375 145.085938c2.414063 10.667968-1.726562 21.699218-10.578125 28.097656-8.832031 6.398437-20.609375 6.890625-29.910156 1.300781l-127.445312-76.160156-127.445313 76.203125c-4.308594 2.558594-9.109375 3.863281-13.953125 3.863281zm141.398438-112.875c4.84375 0 9.640624 1.300781 13.953124 3.859375l120.277344 71.9375-31.085937-136.941406c-2.21875-9.746094 1.089843-19.921875 8.621093-26.515625l105.472657-92.5-139.542969-12.671875c-10.046875-.917969-18.6875-7.234375-22.613281-16.492188l-55.082031-129.046875-55.148438 129.066407c-3.882812 9.195312-12.523438 15.511718-22.546875 16.429687l-139.5625 12.671875 105.46875 92.5c7.554687 6.613281 10.859375 16.769531 8.621094 26.539062l-31.0625 136.9375 120.277343-71.914062c4.308594-2.558594 9.109376-3.859375 13.953126-3.859375zm-84.585938-221.847656s0 .023437-.023438.042969zm169.128906-.0625.023438.042969c0-.023438 0-.023438-.023438-.042969zm0 0')
                            | Reviews
                    if user.role === 'admin' || user.role === 'lead-guide'
                        a(href="panel-admin" target="_blank")
                            li.menu__item
                                svg#Capa_1(enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg')
                                    g
                                        path(d='m256 332c30.327 0 55-24.673 55-55s-24.673-55-55-55-55 24.673-55 55 24.673 55 55 55zm0-80c13.785 0 25 11.215 25 25s-11.215 25-25 25-25-11.215-25-25 11.215-25 25-25z')
                                        path(d='m510.417 490.292-76.065-152.129c32.611-26.688 52.315-50.516 53.242-51.646 4.541-5.532 4.541-13.501 0-19.033-1.052-1.281-26.229-31.738-67.004-62.463-24.613-18.547-49.672-33.146-74.616-43.612l-76.557-153.117c-2.542-5.082-7.735-8.292-13.417-8.292s-10.875 3.21-13.417 8.292l-76.558 153.116c-24.944 10.466-50.002 25.065-74.616 43.612-40.774 30.725-65.952 61.182-67.004 62.463-4.541 5.532-4.541 13.501 0 19.033.928 1.13 20.631 24.958 53.242 51.646l-76.064 152.13c-2.325 4.649-2.076 10.172.657 14.594 2.733 4.423 7.561 7.114 12.76 7.114h482c5.199 0 10.027-2.691 12.76-7.114 2.733-4.422 2.981-9.945.657-14.594zm-138.149-281.817c10.97 6.621 20.95 13.509 29.701 20.078 24.837 18.646 43.734 37.503 53.942 48.447-10.208 10.944-29.105 29.802-53.942 48.447-8.755 6.572-18.74 13.463-29.716 20.086 11.897-20.102 18.747-43.529 18.747-68.533 0-24.999-6.839-48.427-18.732-68.525zm-116.268-159.934 49.789 99.578c-16.85-4.051-33.507-6.119-49.789-6.119s-32.939 2.068-49.789 6.119zm0 123.459c57.897 0 105 47.103 105 105s-47.103 105-105 105-105-47.103-105-105 47.103-105 105-105zm-199.911 105c10.208-10.944 29.105-29.802 53.942-48.447 8.757-6.574 18.744-13.466 29.723-20.09-11.899 20.104-18.754 43.53-18.754 68.537 0 25.008 6.856 48.435 18.757 68.54-10.98-6.625-20.968-13.518-29.726-20.092-24.837-18.646-43.736-37.506-53.942-48.448zm-16.818 205 62.672-125.345c51.451 36.251 104.485 55.345 154.057 55.345s102.606-19.094 154.057-55.345l62.672 125.345z')
                                | Admin panel
        .user__view-content
            section.account-setting
                h2.account-setting__title
                form.form__content.form-email
                    h1.form__title YOUR ACCOUNT SETTINGS
                    label.form__input-title(for="input-email") Email address
                    input#input-email.form__input(type='email' required=true value=`${user.email}` placeholder='mail@mail.com')
                    .form__group.form__photo-upload
                        img.form__user-photo(src=`public/assets/users/${user.photo}`, alt='User photo')
                        input.form__upload(type='file', accept='image/*', id='photo', name='photo')
                        label(for='photo') Choose new photo
                    button.form__button.save-settings(type="submit") SAVE SETTINGS
                hr
                section.password-change
                    h2.password-change__title
                    form.form__content.form-password
                        h1.form__title PASSWORD CHANGE
                        label.form__input-title(for="input-cur-pass") Current password
                        input#input-cur-pass.form__input(type='password' required=true placeholder='••••••••')
                        label.form__input-title(for="input-new-pass" ) New password
                        input#input-new-pass.form__input(type='password' required=true placeholder='••••••••')
                        label.form__input-title(for="input-new-pass-conf") Confirm password
                        input#input-new-pass-conf.form__input(type='password' required=true placeholder='••••••••')
                        button.form__button.save-password(type="submit") SAVE PASSWORD



