extends ./layout/layout

block stylesheets
  link(rel='stylesheet' href='../../dist/css/layouts/details/details.css')

block content
  header.desc-preview
    img(src=`../../public/assets/tours/${tour.imageCover}`)
    -
      const nameArray = tour.name.split(' ')
      let title1 = [nameArray[0].toUpperCase(), nameArray[1].toUpperCase()]
      let title2 = []
      for (let i = 0; i < nameArray.length; i++) {
        if (i > 1) {
          title2.push(nameArray[i].toUpperCase())
        }
      }
      title1 = title1.join(' ')
      title2 = title2.join(' ')

    h1.desc-preview__title1= title1
    h1.desc-preview__title2= title2
    h1.desc-preview__title3 TOUR
    .desc-preview__preview-wrapper
      p.desc-preview__tour-duration
        svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 219.15 219.15' style='enable-background:new 0 0 219.15 219.15;' xml:space='preserve')
          g
            path(d='M109.575,0C49.156,0,0.001,49.155,0.001,109.574c0,60.42,49.154,109.576,109.573,109.576\
            c60.42,0,109.574-49.156,109.574-109.576C219.149,49.155,169.995,0,109.575,0z M109.575,204.15\
            c-52.148,0-94.573-42.427-94.573-94.576C15.001,57.426,57.427,15,109.575,15c52.148,0,94.574,42.426,94.574,94.574\
            C204.149,161.724,161.723,204.15,109.575,204.15z')
            path(d='M166.112,108.111h-52.051V51.249c0-4.142-3.357-7.5-7.5-7.5c-4.142,0-7.5,3.358-7.5,7.5v64.362c0,4.142,3.358,7.5,7.5,7.5\
            h59.551c4.143,0,7.5-3.358,7.5-7.5C173.612,111.469,170.254,108.111,166.112,108.111z')
        |           #{tour.duration} days
      p.desc-preview__map-info
        svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
          g
            g
              path(d='M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257\
              c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22\
              C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34\
              C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180\
              C406.1,207.121,398.689,233.688,384.866,256.818z')
          g
            g
              path(d='M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z\
              M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2\
              C316.1,212.683,289.784,240.2,256,240.2z')
        |           #{tour.startLocation.description}
  // Desc Preview
  // Quick description
  .container
    section.quick-desc
      .quick-desc__facts-wrapper
        .quick-desc__wrapper-baseline
          .quick-facts
            ul.quick-facts__info
              h2.quick-facts__title QUICK FACTS
              li.quick-facts__item
                svg#Layer_1(enable-background='new 0 0 512 512' height='512' viewbox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg')
                  g
                    path(d='m446 40h-46v-24c0-8.836-7.163-16-16-16s-16 7.164-16 16v24h-224v-24c0-8.836-7.163-16-16-16s-16 7.164-16 16v24h-46c-36.393 0-66 29.607-66 66v340c0 36.393 29.607 66 66 66h380c36.393 0 66-29.607 66-66v-340c0-36.393-29.607-66-66-66zm-380 32h46v16c0 8.836 7.163 16 16 16s16-7.164 16-16v-16h224v16c0 8.836 7.163 16 16 16s16-7.164 16-16v-16h46c18.748 0 34 15.252 34 34v38h-448v-38c0-18.748 15.252-34 34-34zm380 408h-380c-18.748 0-34-15.252-34-34v-270h448v270c0 18.748-15.252 34-34 34z')
                span.quick-facts__reference-info NEXT DATE
                span.quick-facts__reference-text #{tour.startDates[0].toLocaleString('en-us', {month: 'long', year:'numeric'})}
              li.quick-facts__item
                svg#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                  g
                    g
                      path(d='M501.306,226.7L326.791,52.183c-15.398-15.399-41.063-15.399-56.461,0L234.4,88.113\
                      c-6.844,6.844-11.976,17.109-11.976,27.375s3.422,20.531,11.976,27.375l47.906,47.906H41.063C18.821,190.769,0,209.59,0,231.832\
                      v49.617c0,20.531,18.82,37.641,41.063,37.641h239.532l-46.196,46.196c-6.844,6.844-11.976,17.109-11.976,29.086\
                      c0,10.266,3.422,20.531,11.976,29.086l35.93,35.93c6.844,6.844,17.109,11.977,27.375,11.977c10.266,0,20.531-3.422,27.375-11.977\
                      l174.516-174.517c8.555-8.555,11.977-18.821,11.977-29.086C513.283,245.52,509.861,235.255,501.306,226.7z M477.353,260.918\
                      L302.837,435.435c-3.422,3.422-5.132,3.422-8.555,0l-35.93-35.93c-1.711-1.711-1.711-3.422-1.711-5.132\
                      c0-1.711,0-3.422,1.711-5.132l75.281-75.281c5.132-5.132,6.844-11.977,3.422-18.821c-3.422-6.844-8.555-10.266-15.398-10.266\
                      H41.063c-3.422,0-6.844-1.711-6.844-3.422v-49.617c0-3.422,3.422-6.844,6.844-6.844h284.017c6.844,0,13.688-3.422,15.398-10.266\
                      c1.711-6.844,1.711-13.688-3.422-18.821l-76.992-76.992c-1.711-1.711-1.711-3.422-1.711-3.422c0-1.711,0-1.711,1.711-3.422\
                      l35.93-35.929c1.711-1.711,5.132-3.422,8.555,0l174.515,174.515c1.711,1.711,1.711,3.422,1.711,5.132\
                      C479.064,257.497,479.064,259.208,477.353,260.918z')
                span.quick-facts__reference-info DIFFICULTY
                span.quick-facts__reference-text #{tour.difficulty}
              li.quick-facts__item
                svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                  g
                    g
                      path(d='M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148\
                      C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962\
                      c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216\
                      h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40\
                      c59.551,0,108,48.448,108,108S315.551,256,256,256z')
                span.quick-facts__reference-info PARTICIPANTS
                span.quick-facts__reference-text #{tour.maxGroupSize} People
              li.quick-facts__item
                svg(height='511pt' viewbox='0 -10 511.98685 511' width='511pt' xmlns='http://www.w3.org/2000/svg')
                  path(d='m114.59375 491.140625c-5.609375 0-11.179688-1.75-15.933594-5.1875-8.855468-6.417969-12.992187-17.449219-10.582031-28.09375l32.9375-145.089844-111.703125-97.960937c-8.210938-7.167969-11.347656-18.519532-7.976562-28.90625 3.371093-10.367188 12.542968-17.707032 23.402343-18.710938l147.796875-13.417968 58.433594-136.746094c4.308594-10.046875 14.121094-16.535156 25.023438-16.535156 10.902343 0 20.714843 6.488281 25.023437 16.511718l58.433594 136.769532 147.773437 13.417968c10.882813.980469 20.054688 8.34375 23.425782 18.710938 3.371093 10.367187.253906 21.738281-7.957032 28.90625l-111.703125 97.941406 32.9375 145.085938c2.414063 10.667968-1.726562 21.699218-10.578125 28.097656-8.832031 6.398437-20.609375 6.890625-29.910156 1.300781l-127.445312-76.160156-127.445313 76.203125c-4.308594 2.558594-9.109375 3.863281-13.953125 3.863281zm141.398438-112.875c4.84375 0 9.640624 1.300781 13.953124 3.859375l120.277344 71.9375-31.085937-136.941406c-2.21875-9.746094 1.089843-19.921875 8.621093-26.515625l105.472657-92.5-139.542969-12.671875c-10.046875-.917969-18.6875-7.234375-22.613281-16.492188l-55.082031-129.046875-55.148438 129.066407c-3.882812 9.195312-12.523438 15.511718-22.546875 16.429687l-139.5625 12.671875 105.46875 92.5c7.554687 6.613281 10.859375 16.769531 8.621094 26.539062l-31.0625 136.9375 120.277343-71.914062c4.308594-2.558594 9.109376-3.859375 13.953126-3.859375zm-84.585938-221.847656s0 .023437-.023438.042969zm169.128906-.0625.023438.042969c0-.023438 0-.023438-.023438-.042969zm0 0')
                span.quick-facts__reference-info RATING
                span.quick-facts__reference-text #{tour.ratingsAverage} / 5
          .tour-guides
            ul.tour-guides__info
              h2.tour-guides__title YOUR TOUR GUIDES
              each guide in tour.guides
                li.tour-guides__item
                  img(src=`../../public/assets/users/${guide.photo}` alt='')
                  if (guide.role === 'lead-guide')
                    span.tour-guides__guide-staff LEAD GUIDE
                  else
                    span.tour-guides__guide-staff GUIDE
                  span.tour-guides__guide-name= guide.email

      .quick-desc__reference-text-wrapper
        h2.reference-info__title ABOUT #{tour.name.split(',').map(el=>el.toUpperCase()).join(' ') } TOUR
        p.reference-info__text= tour.description
    // Quick description
    // Map
  .map-wrapper
    section.map
      .map__preview-photos
        .map__image1 
          img(src=`../../public/assets/tours/${tour.images[0]}` alt='')
        .map__image2
          img(src=`../../public/assets/tours/${tour.images[1]}` alt='')
        .map__image3
          img(src=`../../public/assets/tours/${tour.images[2]}` alt='')
      .map__map-points

    .container-map
      #map(data-locations= tour.locations)
    // Map
    // Reviews
  if (tour.reviews.length > 0)
    section.reviews
      .reviews__wrapper
        each review in tour.reviews
          .reviews-card
            header.reviews-card__header
              img.reviews-card__user-image(src=`../../public/assets/users/${review.user.photo}` alt='')
              span.reviews-card__user-name
                | #{review.user.email}
            main.reviews-card__review-text= review.review
            footer.reviews-card__stars
              - let fill = Math.round(review.rating)
              - let unfill = 5 - fill
              - for (let i = 0; i < fill; i++)
                  svg(class="active" height='511pt' viewBox='0 -10 511.98685 511' width='511pt' xmlns='http://www.w3.org/2000/svg')
                    path(d='m114.59375 491.140625c-5.609375 0-11.179688-1.75-15.933594-5.1875-8.855468-6.417969-12.992187-17.449219-10.582031-28.09375l32.9375-145.089844-111.703125-97.960937c-8.210938-7.167969-11.347656-18.519532-7.976562-28.90625 3.371093-10.367188 12.542968-17.707032 23.402343-18.710938l147.796875-13.417968 58.433594-136.746094c4.308594-10.046875 14.121094-16.535156 25.023438-16.535156 10.902343 0 20.714843 6.488281 25.023437 16.511718l58.433594 136.769532 147.773437 13.417968c10.882813.980469 20.054688 8.34375 23.425782 18.710938 3.371093 10.367187.253906 21.738281-7.957032 28.90625l-111.703125 97.941406 32.9375 145.085938c2.414063 10.667968-1.726562 21.699218-10.578125 28.097656-8.832031 6.398437-20.609375 6.890625-29.910156 1.300781l-127.445312-76.160156-127.445313 76.203125c-4.308594 2.558594-9.109375 3.863281-13.953125 3.863281zm141.398438-112.875c4.84375 0 9.640624 1.300781 13.953124 3.859375l120.277344 71.9375-31.085937-136.941406c-2.21875-9.746094 1.089843-19.921875 8.621093-26.515625l105.472657-92.5-139.542969-12.671875c-10.046875-.917969-18.6875-7.234375-22.613281-16.492188l-55.082031-129.046875-55.148438 129.066407c-3.882812 9.195312-12.523438 15.511718-22.546875 16.429687l-139.5625 12.671875 105.46875 92.5c7.554687 6.613281 10.859375 16.769531 8.621094 26.539062l-31.0625 136.9375 120.277343-71.914062c4.308594-2.558594 9.109376-3.859375 13.953126-3.859375zm-84.585938-221.847656s0 .023437-.023438.042969zm169.128906-.0625.023438.042969c0-.023438 0-.023438-.023438-.042969zm0 0')
              - for (let i = 0; i < unfill; i++)
                  svg(height='511pt' viewBox='0 -10 511.98685 511' width='511pt' xmlns='http://www.w3.org/2000/svg')
                    path(d='m114.59375 491.140625c-5.609375 0-11.179688-1.75-15.933594-5.1875-8.855468-6.417969-12.992187-17.449219-10.582031-28.09375l32.9375-145.089844-111.703125-97.960937c-8.210938-7.167969-11.347656-18.519532-7.976562-28.90625 3.371093-10.367188 12.542968-17.707032 23.402343-18.710938l147.796875-13.417968 58.433594-136.746094c4.308594-10.046875 14.121094-16.535156 25.023438-16.535156 10.902343 0 20.714843 6.488281 25.023437 16.511718l58.433594 136.769532 147.773437 13.417968c10.882813.980469 20.054688 8.34375 23.425782 18.710938 3.371093 10.367187.253906 21.738281-7.957032 28.90625l-111.703125 97.941406 32.9375 145.085938c2.414063 10.667968-1.726562 21.699218-10.578125 28.097656-8.832031 6.398437-20.609375 6.890625-29.910156 1.300781l-127.445312-76.160156-127.445313 76.203125c-4.308594 2.558594-9.109375 3.863281-13.953125 3.863281zm141.398438-112.875c4.84375 0 9.640624 1.300781 13.953124 3.859375l120.277344 71.9375-31.085937-136.941406c-2.21875-9.746094 1.089843-19.921875 8.621093-26.515625l105.472657-92.5-139.542969-12.671875c-10.046875-.917969-18.6875-7.234375-22.613281-16.492188l-55.082031-129.046875-55.148438 129.066407c-3.882812 9.195312-12.523438 15.511718-22.546875 16.429687l-139.5625 12.671875 105.46875 92.5c7.554687 6.613281 10.859375 16.769531 8.621094 26.539062l-31.0625 136.9375 120.277343-71.914062c4.308594-2.558594 9.109376-3.859375 13.953126-3.859375zm-84.585938-221.847656s0 .023437-.023438.042969zm169.128906-.0625.023438.042969c0-.023438 0-.023438-.023438-.042969zm0 0')

    // Reviews
  // Booktoor
  - let classContainer={'container-footer': tour.reviews.length > 0}
  .container(class= classContainer)
    section.booktoor
          .booktoor__img-wrapper
            img.booktoor__img1(src=`../../public/assets/tours/${tour.images[0]}` alt='')
            img.booktoor__img2(src=`/../../public/assets/tours/${tour.images[1]}` alt='')
            img.booktoor__img3(src=`../../public/assets/tours/${tour.images[2]}` alt='')
          .booktoor__content
            h3.booktoor__title
              | WHAT ARE YOU WAITING FOR?
            p.booktoor__text #{tour.duration} days. #{tour.locations.length} locations. 1 adventure. Infinite memories. Make it yours today!
          - let disabled = bookingTours.includes(tour.slug)
          - let classes = {'button--disabled':disabled}
          if (user)
            button.booktoor__button(class=classes data-tour-id= tour.id disabled = disabled) BUY BOOKTOUR
          else 
            button.booktoor__button(class='button--disabled' data-tour-id= tour.id disabled = true) LOGIN TO BUY BOOKTOUR
    // Booktoor